body {
    background-color: #011638;
    color: white;
    font-family: Helvetica, sans-serif;
}

@media print {
    /* In case "print background graphics is on", reset colours */
    body {
        background-color: transparent;
        color: black;
    }
}

.bg {
    background-color: #011638 !important;
    color: white;
}

header {
    background-color: #2E294E;
}

footer {
    background-color: #2E294E;
}

.tab-active {
    background-color: #2D232E !important;
}

.tab-inactive {
    background-color: #353335 !important;
}

.fill {
    width: 100%;
    height: 100%;
}

.solid {
    display: inline-block;
    break-inside: avoid;
    page-break-inside: avoid;;
}

.print-bg {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
    color-adjust: exact !important;                 /*Firefox*/
}

.bg-vfill-hrepeat {
    background-size: auto 100%;
    background-repeat: repeat-x;
}

.fit-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fit-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.fill-image img {
    object-fit: cover;
}

.rotate45 {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rotate-45 {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}