.mini {
    text-align: center;
    overflow: hidden;
    display: inline-block;
    break-inside: avoid;
    page-break-inside: avoid;
    color: black;
    border-collapse: collapse;
    white-space: nowrap;
}

.mini .base {
    overflow:hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px dotted grey;
    break-inside: avoid;
    page-break-inside: avoid;
}

.mini .base span {
    vertical-align: middle;
}

.mini .foot span {
    vertical-align: middle;
    break-inside: avoid;
    page-break-inside: avoid;
}

.mini .art {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    position: relative;
    overflow: hidden;
    break-inside: avoid;
    page-break-inside: avoid;
}

.mini .foot {
    border-left: 1px solid black;
    border-right: 1px solid black;
    break-inside: avoid;
    page-break-inside: avoid;
}
.mini .foot.front {
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
}
.mini .foot.back {
    border-top: 1px solid black;
    border-bottom: 1px dotted grey;
}

.fold-bottom {
    border-bottom: 1px dotted grey;
}

.fold-top {
    border-top: 1px dotted grey;
}

.fold-left {
    border-left: 1px dotted grey;
}

.fold-right {
    border-right: 1px dotted grey;
}

.cut-bottom {
    border-bottom: 1px solid black;
}

.cut-top {
    border-top: 1px solid black;
}

.cut-left {
    border-left: 1px solid black;
}

.cut-right {
    border-right: 1px solid black;
}

.pixelart {
    height: 100%;
    width: 100%;
    object-fit: contain;

    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
}

.mini .art {
    display: flex;
    justify-content: center;
}

.mini .art img {
    margin-left: auto;
    margin-right: auto;    
}

.yflip {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.xflip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.xyflip {
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
}