.mini.size-tiny {
    width: 0.5in;
}

.mini.size-small {
    width: 1in;
}

.mini.size-medium {
    width: 1in;
}

.mini.size-large {
    width: 2in;
}

.mini.size-huge {
    width: 3in;
}

.mini.size-gargantuan {
    width: 4in;
}