@page "/"

<div class="w3-display-container" style="z-index: -1; position: absolute; top: 0; right: 0; left: 0; bottom: 0;">
    <div class="w3-display-middle">
        <a href="mini" class="w3-button w3-round-xlarge w3-center w3-padding w3-margin" style="border: 1px dashed white;">
            <img src="assets/mini.svg" width=128>
            <br>
            Create Miniature
        </a>
        <a href="terrain" class="w3-button w3-round-xlarge w3-center w3-padding" style="border: 1px dashed white;">
            <img src="assets/terrain.svg" width=128>
            <br>
            Create Terrain
        </a>
        <a href="card" class="w3-button w3-round-xlarge w3-center w3-padding" style="border: 1px dashed white;">
            <img src="assets/card.svg" width=128>
            <br>
            Create Playing Card
        </a>
    </div>
</div>