@page "/mini/help"

<div class="w3-padding">
    <div class="w3-container">
        <h1>How To Use</h1>
        <p class="w3-container">
            This document is intended to help you understand how to use the Papercraft Mini-Maker application when designing miniatures or gameplay tokens.
        </p>
        <h2>Introduction</h2>
        <p class="w3-container">
            A miniature is a gameplay token commonly used in tabletop gaming, from tabletop roleplaying games to wargames. Usually these miniatures are plastic figurines that have been hand painted by their owners. However, these pastic miniatures can be quite costly especially if one is in need of purchasing large quantities of them. Papercraft miniatures are cheep alternatives. These miniatures are static images that have been printed out and folded so that they can stand on their own paper base. This application is designed to assist those who wish to use papercraft miniatures for their tabletop gaming. It automates the layout of user artwork such that when printed it is easy to cut and fold the paper to create the miniature.
        </p>
        <h2>Creation</h2>
        <div class="w3-container">
            <h3>1. Create a new miniature</h3>
            <p class="w3-container">
                To begin creating a new paper miniature simply click the large <b>New +</b> button on the main page. This will open a popup dialog with all the options you have available for the attributes of this miniature.
            </p>
            <h3>2. Name your mini</h3>
            <p class="w3-container">
                Provide a name for your miniature. This name will be printed onto the bottom of the mini's base.
            </p>
            <div class="w3-panel w3-margin w3-padding w3-round-large w3-red">
                <b>Notice</b> If the name if too large for the size of the base it will be truncated. Therefore, small names should be used for smaller miniatures.
            </div>
            <h3>3. Replicate</h3>
            <p class="w3-container">
                Select the number of replicas to print. For unique characters leave this at a default value of 1. For cases where you want to print multiple of the same mini then adjust this as you see fit.    
            </p>
            <h3>4. Select a size</h3>
            <p class="w3-container">
                Provide the size of the printed miniature. The sizes listed are some of the common sizes of physical miniatures. The most common size for miniatures is the <b>medium</b> size which is selected by default. If you do not know what size your mini should be, <b>medium</b> is always a good bet. This setting does not change how you see the mini on the app, but will effect the size of the mini when printed. Each size category lists its real size when printed. 
            </p>
            <div class="w3-panel w3-margin w3-padding w3-round-large w3-red">
                <b>Notice</b> Miniatures with the HUGE and GARGANTUAN sizes print in a different configuration than the rest of the sizes or order to allow them to fit on a single page for printing. These sizes will require slightly different cuts than the rest as a result.
            </div>
            <h3>5. Choose artwork</h3>
            <p class="w3-container">
                The last step in creating a papercraft miniature is to choose the artwork that is displayed on the miniature. When selecting artwork you can either choose an image from a web-accessible location (like google search) by providing the URL to the image file. Alternatively you can upload your own image to use for the artwork. These images are not uploaded to any server, instead javascript locally converts the image to a Data URL and uses that instead. Normally the same artwork is used for the back of the miniature and the front. However, you can choose different art for the back of the miniature if you want to get some indication of the direction that the miniature is facing. To provide different art on the back of the miniature, switch to the Back Art tab and toggle the "Use different art from front" checkbox which will reveal new options similar to those for the front image.
            </p>
            <h3>6. Confirm</h3>
            <p class="w3-container">
                To confirm your settings, simply press the <b>Done</b> button at the bottom of the popup dialog window.    
                You may create as many miniatures as you want. When printed, they will all be put on the same document in order to save on paper rather than printing each on their own page.
            </p>
        </div>
        <h2>Editing/Changing</h2>
        <div class="w3-container">
            On the main page, click on the <b>Edit</b> button under any miniature's image. This will open the same dialog window as with creating a miniature, but instead of creating a new miniature, you can edit the values of the exisiting one.
        </div>
        <h2>Assembly</h2>
        <div class="w3-container">
            <h3>1. Print</h3>
            <p class="w3-container">
                To build your configured miniatures, simply print the web-page. A dropdown is available at the top of the page allowing you to choose if the printed minis will be printed with or without a base. Using clever CSS tricks, the printed version of the page not have the icons and buttons that you see in the web-browser, but rather the paper miniatures themselves laid out in a way that makes them easy to fold and assemble. The app will attempt to put as many miniautures on the same page as possible.
            </p>
            <h3>2. Cut</h3>
            <p class="w3-container">
                Once printed, simply cut the miniatures out along the solid lines that border each miniature.
            </p>
            <h3>3. Fold</h3>
            <p class="w3-container">
                The dotted lines on each miniature represent where you should fold them. Each miniature is laid out vertically so that only horizonal folds across the horizonal axis of the paper are required.
                <ol>
                    <li>Fold along the middle between the back and front images so that the images face outwards from the fold</li>
                    <li>Fold along the "feet" of the miniature to create the top of the miniature's base</li>
                    <li>Fold above the miniature's name so that it folds under the base to create the bottom</li>
                </ol>
                At the end of folding your miniature should look like your artwork standing vertically on a paper base with their name on the bottom of the base.
            </p>
            <h4>4. Glue</h4>
            <p class="w3-container">
                It is recommended that you shouldm at a minimum, glue or tape the two halfs on the top of the base to the bottom of the base so that it can stand more reliably without slipping and falling over.
            </p>
            <h4>5. Enjoy!</h4>
        </div>

    </div>
</div>