<div class="w3-center w3-padding">
    <b>Instructions</b>
    <p>
        Print out miniatures the cut out each one along the solid black lines. Fold each miniature along the dotted lines so that the artwork is able to stand vertically on its base.
    </p>
</div>