@inherits LayoutComponentBase
@inject NavigationManager nav

<div class="w3-main">
    <header class="w3-bar no-print">
        <strong class="w3-bar-item">Papercraft Mini-Maker</strong>
        <div class="w3-right">
            <NavLink class="w3-bar-item w3-button" href="mini" Match="NavLinkMatch.Prefix" ActiveClass="bg">
                Miniatures
            </NavLink>
            <NavLink class="w3-bar-item w3-button" href="terrain" Match="NavLinkMatch.Prefix" ActiveClass="bg">
                Terrain
            </NavLink>
        </div>
    </header>
    @Body
</div>
