@if (Mini.Size != MiniSize.Huge && Mini.Size != MiniSize.Gargantuan) {
<div class="mini w3-margin" style="width: @(ScaleFactor * Mini.Size.BaseSizeInches())in;">
    @if (WithBase) {
    <div class="foot back"></div>
    }
    <div class="art back">
        <img class="yflip pixelart" src="@Mini.GetReverseArt().Url"> 
    </div>
    <div class="art front">
        <img class="pixelart" src="@Mini.FrontArt.Url"> 
    </div>
    @if (WithBase) {
    <div class="foot front">
        <text>&#9660;</text>
    </div>
    <div class="base">
        <text>@Mini.Name</text>
    </div>
    }
</div>
}

@code {
    [Parameter] public Mini Mini {get; set;}
    [Parameter] public bool WithBase {get; set;} = true;

    public float ScaleFactor => Mini == null ? 1 : Mini.Scale;
}