<div class="w3-modal @showModalCss">
    <div class="w3-modal-content w3-round-xlarge">
        <header class="w3-container w3-display-container w3-center w3-xlarge">
            @Title <span class="w3-button w3-display-right w3-small" @onclick=@(() => Show(false))>x</span>
        </header>
        <div class="w3-padding bg">
            @ChildContent
        </div>
        <footer class="w3-container w3-center w3-padding">
            <button class="w3-button" @onclick=@(() => save())>Done</button>
        </footer>
    </div>
</div>

@code {
    [Parameter] public string Title {get; set;}
    [Parameter] public RenderFragment ChildContent {get; set;}
    [Parameter] public Action OnSave {get; set;}

    private bool isOpen = false;
    private string showModalCss => isOpen ? "w3-show" : "w3-hide";
    public void Show(bool isOpen) {
        this.isOpen = isOpen;
        StateHasChanged();
    }
    private void save() {
        if (OnSave != null)
            OnSave();
        Show(false);
    }
}